:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-background: #242424f3;
  --color-section-1: rgba(255, 255, 255, 0.99);
  --color-section-2: rgba(228, 228, 228, 0.9);
  --color-testimonial-arrow: rgba(250, 250, 250, 0.9);
  --color-sign-up: #242424e8;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --color-header: rgba(255, 255, 255, 0.902);
  --color-h1: #444;
  --color-p: #444444cf;

  /* color-scheme: light dark; */
}
