<section id="sec-home">
    <bee-grid-1d-layout [inputGridDistribution]="'3fr 2fr'" [userClass]="'home-section'">

        <div class="text-container">
            <bee-title [typo_level]="TYPO_LVL.LEVEL_1" [userClass]="'title'" 
                [keywords]="[ 'banking', 'minimalist' ]">
                When banking meets minimalist
            </bee-title>
            <bee-title [userClass]="'subtitle'">
                A simple banking experience for a simple life.
            </bee-title>
            <button>
                Learn More ↓
            </button>
        </div>

        <bee-image [imageSrc]="'https://raw.githubusercontent.com/JesusCRIS90/jc-risquez-cdn/main/a-bank-for-life/images/hero-min.png'"/>
    
    </bee-grid-1d-layout>
</section>
