<section id="operations"> 
    <bee-vertical-layout class="operations-sec">
  
        <div class="title-container">
            <h2 class="title">OPERATIONS</h2>
            <h3 class="subtitle">Everything as simple as possible, but no simpler.</h3>
        </div>
    
        <div class="operation-container">
            <bee-vertical-layout>
                <div class="tabs-container">
                    <button [ngClass]="{'active-tab': isActiveTab(0) }" class="transfers" (click)="onTabClicked( 0 )">Instant Transfers</button>
                    <button [ngClass]="{'active-tab': isActiveTab(1) }" class="loans" (click)="onTabClicked( 1 )">Instant Loans</button>
                    <button [ngClass]="{'active-tab': isActiveTab(2) }" class="closing" (click)="onTabClicked( 2 )">Instant Closing</button>
                </div>
                <operation-card [opeation]="tabContent()" 
                    class="operation-card" [id]="tabContent().id"/>
            </bee-vertical-layout>
        </div>
    
    </bee-vertical-layout>
</section>
